* {
    main-bg:            #181D3AE6;
    main-fg:            #B43C60;
    main-br:            #24284A;
    main-ex:            #2F3240;
    select-bg:          #2B4678;
    select-fg:          #E7E2C5;
}
